[package]
name = "caretta-brain-mobile"
edition.workspace = true
version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
caretta-brain-core.workspace = true